.cart-table table {
    border: 1px solid #ebebeb;
}
.cart-table table thead > tr {
    border: 1px solid #ebebeb;
    background-color: #f9f9f9;
}
.cart-table table thead > tr th {
    font-size: 14px;
    font-weight: 500;
    padding: 21px 45px 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    color: #333;
    border-top: none;
}
.table > :not(:first-child) {
    border-top: 2px solid currentColor;
}
.cart-table table tbody > tr {
    border-bottom: 1px solid #ebebeb;
}
.cart-table table tbody > tr td.product-thumbnail {
    width: 150px;
}
.cart-table table tbody > tr td {
    font-size: 15px;
    padding: 30px 0 30px 30px;
    text-align: center;
    color: #333;
    vertical-align: middle;
}
.cart-table table tbody > tr td.product-name {
    width: 435px;
    text-align: left;
}
.cart-table table tbody > tr td.product-name p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.cart-table table tbody > tr td.product-price-cart {
    width: 435px;
}
.cart-table table tbody > tr td {
    font-size: 15px;
    padding: 30px 0 30px 30px;
    text-align: center;
    color: #333;
}
.cart-table table tbody > tr td.product-per-price p {
    margin: 0;
    font-weight: 500;
    color: #333;
}
.cart-table table tbody > tr td.product-quantity {
    width: 435px;
}
.cart-table table tbody > tr td {
    font-size: 15px;
    padding: 30px 0 30px 30px;
    text-align: center;
    color: #333;
}
.cart-table table tbody > tr td.product-quantity .cart-plus-minus {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 40px;
    padding: 0;
}
.cart-table
    table
    tbody
    > tr
    td.product-quantity
    .cart-plus-minus
    .dec.qtybutton {
    top: 0;
    left: 0;
    height: 40px;
    border-right: 1px solid #e5e5e5;
}
.cart-table table tbody > tr td.product-quantity .cart-plus-minus .qtybutton {
    font-size: 16px;
    position: absolute;
    float: inherit;
    width: 20px;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    color: #333;
    border: none;
    background: none;
}
.cart-table
    table
    tbody
    > tr
    td.product-quantity
    .cart-plus-minus
    input.cart-plus-minus-box {
    font-size: 14px;
    float: left;
    width: 110px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    border: 1px solid #e1e1e1;
    background: transparent none repeat scroll 0 0;
}
.cart-table
    table
    tbody
    > tr
    td.product-quantity
    .cart-plus-minus
    .inc.qtybutton {
    top: 0;
    right: 0;
    height: 40px;
    border-left: 1px solid #e5e5e5;
}
.cart-table table tbody > tr td.product-subtotal p {
    margin: 0;
    font-weight: 500;
    color: #333;
}
.cart-table table tbody > tr td.product-remove {
    width: 100px;
}
.cart-table table tbody > tr td.product-remove button {
    font-size: 17px;
    margin: 0 13px;
    color: #666;
    border: none;
    background: none;
}
.cart-to-shop {
    display: inline-block;
    padding: 12px 60px;
    background-color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #333;
    transition: 0.5s all;
}
.cart-to-shop:hover {
    background-color: #a749ff;
    color: #fff;
}
.clear-cart {
    padding: 12px 60px;
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #333;
    transition: 0.5s all;
    border: none;
    outline: none;
}
.clear-cart:hover {
    background-color: #a749ff;
    color: #fff;
}

.cart-tax {
    background-color: #f5f5f5;
    padding: 30px;
}
.cart-tax h5 {
    margin-top: 14px;
}
.cart-tax select {
    background-color: transparent;
}
.cart-tax-btn,
.cart-coupon-btn,
.cart-proceed-btn {
    padding: 12px 60px;
    background-color: #a749ff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #fff;
    transition: 0.5s all;
    border: none;
    outline: none;
}
.cart-tax-btn:hover,
.cart-coupon-btn:hover,
.cart-proceed-btn:hover {
    color: #fff;
    background-color: #333;
}
.grand-total h5 {
    color: #a749ff;
}
