.wishlist-table table {
    border: 1px solid #ebebeb;
}
.wishlist-table table thead > tr {
    border: 1px solid #ebebeb;
    background-color: #f9f9f9;
}
.wishlist-table table thead > tr th {
    font-size: 14px;
    font-weight: 500;
    padding: 21px 45px 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;
    color: #333;
    border-top: none;
}
.table > :not(:first-child) {
    border-top: 2px solid currentColor;
}
.wishlist-table table tbody > tr {
    border-bottom: 1px solid #ebebeb;
}
.wishlist-table table tbody > tr td.product-thumbnail {
    width: 150px;
}
.wishlist-table table tbody > tr td {
    font-size: 15px;
    padding: 30px 0 30px 30px;
    text-align: center;
    color: #333;
    vertical-align: middle;
}
.wishlist-table table tbody > tr td.product-name {
    width: 435px;
    text-align: left;
}
.wishlist-table table tbody > tr td.product-name p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    text-align: center;
}
.wishlist-table table tbody > tr td.product-per-price {
    width: 435px;
}
.wishlist-table table tbody > tr td {
    font-size: 15px;
    padding: 30px 0 30px 30px;
    text-align: center;
    color: #333;
}
.wishlist-table table tbody > tr td.product-per-price p {
    margin: 0;
    font-weight: 500;
    color: #333;
}
.wishlist-table table tbody > tr td.add-cart .wish-to-cart {
    padding: 10px 30px;
    background-color: #a749ff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #fff;
    transition: 0.5s all;
    border: none;
    outline: none;
}
.wishlist-table table tbody > tr td.add-cart .wish-to-cart:hover {
    background: #333;
}
.wishlist-table table tbody > tr td.product-remove {
    width: 100px;
}
.wishlist-table table tbody > tr td.product-remove button {
    font-size: 17px;
    margin: 0 13px;
    color: #666;
    border: none;
    background: none;
}
.wishlist-to-shop {
    display: inline-block;
    padding: 12px 60px;
    background-color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #333;
    transition: 0.5s all;
}
.wishlist-to-shop:hover {
    background-color: #a749ff;
    color: #fff;
}
.clear-wishlist {
    padding: 12px 60px;
    background-color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    color: #333;
    transition: 0.5s all;
    border: none;
    outline: none;
}
.clear-wishlist:hover {
    background-color: #a749ff;
    color: #fff;
}
